<p id="notice"><%= notice %></p>

<p>
  <strong>Emis:</strong>
  <%= @report.emis %>
</p>

<p>
  <strong>Centre no:</strong>
  <%= @report.centre_no %>
</p>

<p>
  <strong>School name:</strong>
  <%= @report.school_name %>
</p>

<p>
  <strong>Wrote 2014:</strong>
  <%= @report.wrote_2014 %>
</p>

<p>
  <strong>Passed 2014:</strong>
  <%= @report.passed_2014 %>
</p>

<p>
  <strong>Wrote 2015:</strong>
  <%= @report.wrote_2015 %>
</p>

<p>
  <strong>Passed 2015:</strong>
  <%= @report.passed_2015 %>
</p>

<p>
  <strong>Wrote 2016:</strong>
  <%= @report.wrote_2016 %>
</p>

<p>
  <strong>Passed 2016:</strong>
  <%= @report.passed_2016 %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
